[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-solo = "*"
celery = "*"
dj-rest-auth = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-allauth = "*"
redis = "*"
django-celery-beat = "*"
psycopg2 = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
concurrent-log-handler = "*"
discord-webhook = "*"
sendgrid = "*"
sib-api-v3-sdk = "*"

[dev-packages]

[requires]
python_version = "3.11"
